<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
    <span routerLink="/cadastro" routerLinkActive="active" class="nav">Cadastro</span>
  <div class="spacer"></div>
  <span routerLink="/listagem" routerLinkActive="active" class="nav">Listagem</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
